absl-py==2.1.0
accelerate==1.4.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
anyio==4.8.0
anytree==2.12.1
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.1.0
audioread==3.0.1
beautifulsoup4==4.13.3
bert-score==0.3.13
bioc==2.1
boto3==1.36.23
botocore==1.36.23
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colorama
comm
conllu==4.5.3
contourpy==1.3.1
cycler==0.12.1
dask==2025.2.0
datasets==3.3.2
debugpy
decorator
deep-translator==1.11.4
Deprecated==1.2.18
dill==0.3.8
docopt==0.6.2
editdistance==0.8.1
exceptiongroup
executing
filelock==3.17.0
flair==0.15.1
flatbuffers==25.1.24
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.3.1
gast==0.4.0
gdown==5.2.0
gensim==4.3.3
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==4.0.2
grpcio==1.70.0
h11==0.14.0
h2==4.2.0
h5py==3.12.1
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.28.1
hyperframe==6.1.0
idna==3.10
imbalanced-learn==0.13.0
importlib_metadata
intervaltree==3.1.0
ipykernel
ipython
jedi
jieba==0.42.1
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
jupyter_client
jupyter_core
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.8
langdetect==1.0.9
language_tool_python==2.9.0
lazy_loader==0.4
lemminflect==0.2.3
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.44.0
locket==1.0.0
lru-dict==1.3.0
lxml==5.3.1
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline
more-itertools==10.6.0
mpld3==0.5.10
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
nest_asyncio
networkx==3.4.2
nlpaug==1.1.11
nltk==3.9.1
num2words==0.5.14
numba==0.61.0
numpy==1.26.4
oauthlib==3.2.2
OpenHowNet==2.0
opt_einsum==3.4.0
packaging
pandas==2.2.3
parso
partd==1.4.2
pickleshare
pillow==11.1.0
pinyin==0.4.0
platformdirs
pooch==1.8.2
pptree==3.1
prompt_toolkit
propcache==0.2.1
protobuf==3.19.6
psutil
pure_eval
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments
pyparsing==3.2.1
PySocks==1.7.1
python-dateutil
pytorch_revgrad==0.2.0
pytz==2025.1
PyYAML==6.0.2
pyzmq
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.11.2
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
segtok==1.5.11
sentencepiece==0.2.0
six
sklearn-compat==0.1.3
smart-open==7.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
sqlitedict==2.1.0
stack_data
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.10.1
tensorflow==2.10.0
termcolor==2.5.0
terminaltables==3.1.10
textattack==0.3.10
threadpoolctl==3.5.0
tokenizers==0.21.0
toml==0.10.2
toolz==1.0.0
torch==2.6.0+cpu
torchvision==0.21.0+cpu
tqdm==4.67.1
traitlets
transformers==4.49.0
typing_extensions
tzdata==2025.1
urllib3==2.3.0
wcwidth
Werkzeug==3.1.3
Wikipedia-API==0.8.1
word2number==1.1
wrapt==1.17.2
xxhash==3.5.0
yarl==1.18.3
zipp
