{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
  <div class="login-wrapper">
    <h1 class="text-center login-title">Therapist Portal Login</h1>
    <div class="account-wall">
      <img class="profile-img" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
      <form class="form-signin" method="POST">
        <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </form>
    </div>
    <a href="{{ url_for('signup') }}" class="text-center new-account">Create an account</a>
  </div>
</div>
{% endblock %}
