{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block content %}
<div class="login-modal">
  <img src="{{ url_for('static', filename='avatar7.png') }}" alt="Avatar" />
  <h2>Create Account</h2>
  <form method="POST">
    <input type="text" name="username" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit" class="btn-primary">Sign Up</button>
    <div class="footer-links">
      <a href="{{ url_for('login') }}">Already have an account?</a>
    </div>
  </form>
</div>
{% endblock %}
